#form-holder {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 15px;
    align-items: center;
    height: 300px;
}

#payment {
    width: 250px;
    padding: 10px;
    margin-left: 10%;
}

#address {
    width: 250px;
    padding: 10px;
    margin-left: 10%;
}

.form-label2 {
    font-weight: 600;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    color: white;
}

.form-container {
    background-color: #35d650;
    border-radius: 10px;
    width: 700px;
    padding: 40px;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0,0,0, 0.3);
}

#sendOrder {
    width: 50%;
    padding: 20px 10px;
    color: #fff;
    background-color: #307edf;
    border-radius: 5px;
    font-weight: 600;
    border: none;
    font-size: 20px;
    margin-top: 30px;
}

#sendOrder:hover {
    background-color: #157dff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: 0.3s;
}

.form-text {
    margin: 0px 0px 5px 0px;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

#cardType {
    width: 80%;
}

#orderForm {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}